a:hover{
	text-decoration: none;
}
body{
	background-color: #FFFFFF;
}
@font-face{
	 font-family: 'bold';
    font-style: normal;
    font-weight: normal;
    src: url(font/Montserrat-Bold.woff) format('woff');
}
@font-face{
	 font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url(font/OpenSans.woff) format('woff');
}
					
						/*background первый фон (header)*/

.background{
	background-image: url(img/background.png);
	height: 825px;
	width: 100%;
	background-size: cover;
	margin-bottom: 180px;
}
.akad{
	font-size: 18px;
	color:#60606E;
	 font-family: 'bold';
	font-weight: bold;
}
.akad:hover{
	color:#60606E;
}
.bord{
	border: solid 2px #83838D;
	width: 30px;
	margin-bottom: 8px;
	cursor: pointer;
}
.line-bord{
	margin-left: 90%;
}
.bord:hover{
	border: solid 2px #CDCDD1;
	width: 40px;
}
.block{
	padding-top: 50px;
	margin-bottom: 130px;
}
.text-we{
	padding: 10px;
	background-color: #7BEEC7;
		 font-family: 'bold';
		 font-size: 18px;
		 color:#60616E;
		 width: 80px;
		margin-right: auto;
		margin-left: auto;
}
.text-agency{
	color: #60606E;
	padding: 30px;
	font-size: 48px;
	 font-family: 'bold';
	 text-transform: uppercase;
	 border: solid #60606E 10px;
	 width: 600px;
	margin-right: auto;
	margin-left: auto;

}
.dawn{
	margin-bottom: 40px;
}
.mini-logo-text{
	line-height: 25px;
	color: #60606E;
	 font-family: 'OpenSans';
}
.gradient{
margin-left: 4%;
	position: absolute;
	height: 50px;
	width: 100px;
	background: linear-gradient(90deg, #60606E 50%, #7BEEC7 50%)
}
.text-history{
	position: relative;
	text-transform: uppercase;
	font-size: 30px;
	 font-family: 'bold';
	 margin-bottom: 25px;
	 margin-top: 25px;
	 z-index: 2;
	 color: #60606E;
}
.line-one{
	position: absolute;
	z-index: 1;
	margin-left: -3px;
	width: 67px;
	height: 22px;
	background-color: #7BEEC7;
	margin-top: -38px;
}
.text-logo-big{
	font-size: 15px;
	 font-family: 'OpenSans';
	 color: #60606E;
	 line-height: 24px;
	 margin-bottom: 20px;
}
.but-read{
	background-color: #7BEEC7;
	padding: 15px 40px 15px 40px;
	 font-family: 'bold';
	 color:#FFFFFF;
	 text-transform: uppercase;
	font-size: 14px;
}

										/*header(mobile)*/

@media screen and (max-width: 992px){
	.art{
		display: none;
	}
}

@media screen and (max-width: 1200px){
	.gradient{
		display: none;
	}

}
@media screen and (max-width: 560px){
	.text-logo-big{
		height: 140px;
		overflow:hidden;
		text-overflow:ellipsis	;
	}
}
@media screen and (max-width: 400px){
	.text-logo-big{
		height: 70px;
	}
}
	
@media screen and (max-width: 620px){
	 .text-agency{
		 font-size:25px;
		 width: 300px;
	 }
	 .line-bord{
		 margin-left: 75%;
	 }
}

@media screen and (max-width: 992px){
 .text-logo-big, .text-history{
 	text-align: center;

 }
 .line-one{
 	display: none;
 }
 .block-history{
 	margin-left:auto;
 	margin-right: auto;
 }
}	









							/*WHY CHOOSE ME*/
.text-choose{
	text-align: center;
	margin-bottom: 100px;
}
.text-why{
	font-size: 30px;
	font-family: 'bold';
	text-transform: uppercase;
}
.text-lorem{
	font-family: 'OpenSans';
	font-size: 14px;
	line-height: 24px;
	color:#60606E;
}
.line-two{
	position: absolute;
	z-index: 1;
	margin-left: 426px;
	margin-top: -40px;
	width: 67px;
	height: 22px;
	background-color: #7BEEC7;
}
.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
	'one two  five'
	'three four five';
}
.one{
	 grid-area: one;
	 margin-top: 20px;

}
.two{
	grid-area: two;
	margin-top: 20px;
}
.three{
	 grid-area: three;

}
.four{
	 grid-area:four;

}
.foto{
		 grid-area:five;

}
.text-brand{
	font-size: 18px;
	font-family: 'bold';
	margin-bottom: 20px;
	text-transform: uppercase;
	color:#60606E;

}
.grid-text{
	font-size: 14px;
	font-family: 'OpenSans';
	line-height: 30px;
	text-transform: uppercase;
}
.text{
	color:#999999;
}
									/*WHY CHOOSE ME     (mobile)      */ 


@media screen and (max-width: 1200px){
	.line-two{
		display: none;
	}
	
}
@media screen and (max-width: 992px){
	.foto{
		display: none;
	}
	.one, .two{
		margin-bottom: 30px;
	}
	.grid{
		text-align: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
	'one two  '
	'three four ';
	}
}
@media screen and (max-width: 545px){
	.grid-text{
		display: none;
	}
	.grid-text a {
		color: #60606E;;
		padding: 2px;
		text-decoration: none;
		display: block;
	}
	.one, .two, .three, .four{
		cursor: pointer;
		position: relative;
		display: inline-block;
	}
	.one:hover .grid-text, .two:hover .grid-text, .three:hover .grid-text, .four:hover .grid-text{
		display: block
	}
}






													/*OUR / MANY GRID     */ 
.block-grid{
	margin-bottom: 150px;
}
.text-our{
	text-align: center;
}
.line-three{
	position: absolute;
	z-index: 1;
	margin-left: 414px;
	margin-top: -40px;
	width: 67px;
	height: 22px;
	background-color: #7BEEC7;
}
.text-category{
	margin-bottom: 50px;
	font-family: 'bold';
	font-size: 30px;
	color:#60606E;
	text-transform: uppercase;
	line-height: 50px;
}
.column-one{
	display: flex;
	flex-direction: column;
	 grid-area:one-one;
	margin-left: 40px;
	font-size: 14px;
	line-height: 40px;
	font-family: 'bold';
	text-transform: uppercase;
}
.grid-grid-grid{
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns:  repeat(2, 1fr);
}
.column-text{
	color: #60606E;
	padding: 5px 20px 5px 20px;
}
.column-text:hover{
	background: #7BEEC7;
	color:#FFFFFF;
}
.Department{
	margin-bottom: 20px;
}
.column-one{
	width: 100%;
}
.grid-mobile{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.text-our{
	margin-bottom: 100px;
}
.mob{
	display: none;
}
.but-but{
	display: none;
}

															/*OUR / MANY GRID  (mobile)   */ 


@media screen and (max-width: 1124px){
	.text-lorem, .line-three{
		display: none;
	}
	.column-text{
		padding: 5px 5px 5px 5px;
	}
	.text-our{
		margin-bottom: 0px;
	}
	.column-one p{
		
		margin-right: 10px;
	}
	.column-href{
		display: block;
	}
	.grid-grid-grid{
		display: block;
	}
	.text-category{
		text-align: center;
	}
	
	.column-one{
		justify-content: center;
		display: flex;
		flex-direction: row;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.grid-mobile{
		display:none;

	}
	.mob{
		display: grid;
		grid-template-columns: 40% 40%;
  grid-template-rows: 10% 10%; 
  justify-content: center;
  text-align: center
	}
}
@media screen and (max-width: 770px){
	.mob{
		grid-template-columns: 50% 50%;
	}
	.column-one{
		display: none;
	}
	.but-but{
		text-align: center;
		margin-bottom: 20px;
		display:block;
	}
}
@media screen and (max-width: 590px){
	.mob{
		grid-template-columns: 55% 55%;
	}
}

@media screen and (max-width: 580px){
	.mob{
		display: grid;
		grid-template-columns: 50%;
  grid-template-rows: 2%; 
  justify-content: center;
  text-align: center
	}
}
@media screen and (max-width: 420px){
	.mob{
	grid-template-columns: 90%;
	text-align: center;
	justify-content: center;
}
}



												/*GREEN_BLOCK*/ 

.green-block{
	width: 100%;
	height: 340px;
	background-color: #7BEEC7;
}
.grid-new{
	padding-top: 50px;
	display: grid;
	grid-gap: 100px;
	grid-template-columns:1fr 1fr;
}
.button-white{
	margin-right: 100px;
	padding:10px 25px 10px 25px;
	background-color: #FFFFFF;
	color: #7BEEC7;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'bold';
}
.text-work{
	margin-bottom: 20px;
	line-height: 50px;
	color:#FFFFFF;
	font-size: 30px;
	font-family: 'bold';
}
.white-block{
	width: 100%;
	height: 240px;
	background-color: #FFFFFF;
}
.text-in-block-stay{

	color:#60606E;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'bold';
	margin-top:15px;
	margin-left: 5px;
	line-height: 33px;
}
.text-in-block-lorem{
	margin-left: 5px;
	font-family: 'OpenSans';
	line-height: 25px;
	font-size: 14px;
	color:#60606E;
	margin-bottom: 25px;
}
input[type="email"].input::-webkit-input-placeholder {
	color:#60606E;
	opacity: 0.5;
}
.input{
	width: 320px;
	padding: 11px;
	font-family: 'bold';
	position: relative;
}
form .btn{
	border-radius: 0px;
}
.table-first{
	display: table;
}
.cell{
	display: table-cell;
}
.submit{
	color:#FFFFFF;
	padding:10px 45px 10px 45px;
	background-color: #7BEEC7;
	position: absolute;
}
										/*GREEN_BLOCK (mobile)*/ 
@media screen and  (max-width:1200px){
	.table-first{
		transform: translate(-70%);
		margin-left: 50%;
	}
	
	.grid-new{
		display: block;
		text-align: center;
	}
	.button-white{
		 margin-right: 0px;
	}
	.text-in-block-lorem{
		display: none;
	}
	.green-block{
		height: 400px;
	}
	.white-block{
		height: 150px;
	}
}

@media screen and  (max-width:600px){
.text-work{
	font-size: 24px;
	line-height: 25px;
}
.text-in-block-stay{
	font-size: 20px;
}
.input{
	width: 200px;
}
}
@media screen and  (max-width:500px){
	.table-first{		
		transform: translate(-80%);
}
}
@media screen and  (max-width:425px){
	.table-first{		
	display: flex;
	flex-direction: column;}
	.cell{
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}
	.input{
		transform: translate(-70%);
		margin-left: 50%;
	}
}


																	/*Footer*/ 
.footer a:after{
	content: "-";
	padding-left: 20px;
	padding-right: 20px;
	cursor: default;
}
.footer a:last-child:after{
	content: none;
}
.footer a, .footer-text{
	color:#9A9A9A;
text-transform: uppercase;
font-size: 14px;
font-family: 'OpenSans';
}

.footer-grid{
	display: grid;
	margin-top: 50px;
	grid-template-columns:2fr 1fr;
}
.footer-text{

	text-align: end;
}
.icon-end{
	font-size: 20px;
	margin-bottom: 45px;
}
.fa{
	cursor: pointer;
	margin-right: 10px;
}
.fa:last-child{
	margin-right:0px;
}
															/*Footer (mobile)*/ 
@media screen and  (max-width:1200px){
.footer-grid{
	display: block;
}
.footer{
	text-align: center;
	margin-bottom: 30px;
}
.footer-text{
	text-align: center;
}
}
